*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bebas Neue', cursive; 
    background: #354849;
    color: rgb(224, 224, 224);
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    height: 100%;
    margin-top: 125px;
}

header{
width: 100%;
height: 110px;
display: flex;
align-items: center;
justify-content: center;
position: fixed;
top: 0;
background: #263536;
transition: 0.2s;
z-index: 5;
}

.logo{
    font-size: 8vh;
    transition: 0.2s;
}

.box{
    margin: 5px;
    width: 21vh;
    height: 21vh;
    border-radius: 5px;
    background: #435c5e;
    z-index: 1;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 3.5vh;
    color: rgb(197, 197, 197);
    line-break: strict;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.titre {
    margin-left: 15px;
    margin-top: 20px;
    font-size: 4vh;
    position: sticky;
}

#playing {
    border: 3px solid #449ba1;
    animation: gradient 2s ease infinite;
}

@keyframes gradient {
    0%{background: #435c5e;}
    50%{background: #449ba1;}
    100%{background: #435c5e;}
}

footer{
    font-size: 2vh;
    position: absolute; 
    bottom: 0px;
    width: 100%;
    height: 40px;
    background: #263536;
    color: rgb(224, 224, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.select-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 3vh;
    position: relative;
}

.title{
    display: flex;
    align-items: center;
    background: #263536;
    color: #b4d7da;
    border-radius: 5px; 
    padding: 10px 20px;
    height: 50px;
    width: 300px;
    position: relative;
    cursor: pointer;
    margin: 15px;
}

.arrow {
    content: "";
    position: absolute;
    top: 19px;
    right: 25px;
    width: 8px;
    height: 8px;
    border-left: 2px solid #b4d7da;
    border-top: 2px solid #b4d7da;
    transform: rotate(-135deg);
    transition: all 0.2s ease-in-out;
}

.option-container{
    list-style: none;
    margin-top: 15px;
    position: relative;
    background: #263536;
    width: 300px;
    padding-left: 15px;
    border-radius: 5px;
    color: #b4d7da;
    display: none;
    transition: all 0.4s ease-in-out;
}

.option{
    margin: 20px;
    cursor: pointer;
}

.active{
    display: block;
}

.turned{
    transform: rotate(45deg);
    margin-top: 4px;
}

